:root{
    --font-family: 'Roboto', sans-serif;
    --primary-color: #364FC7;
    --grey-1: #212529;
    --grey-2: #868E96;
    --grey-3: #ADB5BD;
    --grey-4: #E9ECEF;
    --grey-5: #F1F3F5;
    --grey-6: #F8F9FA;
    --white: #FFFFFF;
    --orange-gradient: #e93f3a;
    --yellow-gradient: #ffef37;

    --text-size-1:  16px;
    --text-size-2:  12px;

    --shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.4);   

    --border-radius-1: 50%;
    --border-radius-2: 8px;
    --border-radius-3: 1rem;

    --padding-1: 1rem;
    --padding-2: 0.8rem;

    --padding-left-1: 60px;
    
    --img-width: 40px;
    --div-img-size: 50px;
    --img-size: 45px;
    --img-form-size: 30px;

    --form-width: 300px;

    --margin-bottom-1: 1rem;
    
    --font-weigth-bold: 700;
    --font-weight-medium: 500;
    --font-weight-regular:400;

    --gap-1: 1rem;
    --margin-botom-2: 2rem;
    

}

body{
    height: 100vh;
    width: 100vw;
}
.animation__class__open{
    animation: MoveMenu 1.5s;
}
.animation__class__close{
    animation: closeMenu 1.5s ;
}

