.header__container{
    height: 60%;
    display: flex;
    flex-direction: row;
    flex-direction: column;
    align-items: center;
    width: 100%;
}   
.header__container__logo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    z-index: 1;
    background-color: var(--white);
    box-shadow: var(--shadow);
}
.header__container__img{
    width: 40%;
    object-fit: contain;
}
.header__container__menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 85%;
    border-radius: 0 0 var(--border-radius-3) var(--border-radius-3);
    box-shadow: var(--shadow);
}

.header__mobile__img{
    width: 40px;
}
.header__profile__container >div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-1);
    background: linear-gradient(45deg, var(--orange-gradient) 0%, var(--yellow-gradient) 100%);;
}
.header__menu__img{
    width: 45px;
    height: 45px;
    border-radius: var(--border-radius-1);
    /* border: 3px solid var(--yellow-gradient); */
}

.header__menu__form{
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: flex-start;
}
.menu__button__submit{
    background-color: transparent;
    border: none;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__menu__form > button >img{
    width: 30px;

}
.header__container__nav>ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    justify-content: space-evenly;
}
.header__container__nav > ul > li{
    font-size: 16px;
    font-weight: 600;
    color: var(--grey-3);
    display: block;
}
.header__container__nav > ul > li:nth-child(1){
    color: var(--grey-1);
}
.header__container__nav{
    width: 90%;
    padding: 1rem;
    height: 75%;
}
.header__menu__form > input{
    padding: 0.8rem;
    width: 100%;
    border-radius: var(--border-radius-2);
    border: none;
    background-color: var(--grey-5);
    padding-left: 60px;
}
.header__menu__form > input::placeholder{
    color: var(--grey-3);
}
.header__profile__container{
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.header__menu__button{
    background-color: transparent;
    border: none;
}

.animation__class__open{
    animation: MoveMenu 1.5s;
}
.animation__class__close{
    animation: closeMenu 1.5s ;
}
.hidden__class{
    display:none;
}
@media(min-width:768px){
        .header__container__img{
            max-width: 25%;
        }
        .header__container__menu{
            max-width: 100%;
            justify-content: space-around;
        }
        .menu__button__submit{
            
        }
        .header__menu__form{
            margin-bottom: 2rem;
        }
        .header__menu__form>input{
        }
        .header__profile__container{
            margin-bottom: 1.5rem;
        }
}
@media(min-width: 1024px){
    .hidden__class{
        display: contents;
    }
    .header__mobile__img{
        display: none;
    }
    .header__container__logo{
        box-shadow: none;
        width: 15%;
        padding: 0;
        height: 100%;
    }
    .header__container__img{
        width: 100%;
        height: 100%;
        max-width: 80%;
    }
    .header__container{
        flex-direction: row;
        height: 10%;
        justify-content: center;
        border-radius: 0;
        box-shadow: var(--shadow);
    }
    .header__container__menu{
        flex-direction: row;
        width: 85%;
        box-shadow: none;
    }
    .header__container__nav>ul{
        flex-direction: row;
        align-items: center;
    }
    .header__menu__form{
        max-width: 45%;
        margin-bottom: 0;
    }
    .header__menu__form > input{
        width: 100%;
    }
    .header__profile__container{
        flex-direction: row;
        max-width: 15%;
        margin-bottom: 0;
        margin-left: 1rem;
    }
    .header__container__nav{
        width: 40%;
    }
}



@keyframes MoveMenu {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes closeMenu {
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-100%);
    }
}